<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>


  <style>
        .content {width:1200px;margin:auto;}
        ul li {list-style: none;}
    
    </style>
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Przybornik</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}">Dziennik wpisów <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'album' %}">Moje fotografie</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'music' %}">Biblioteka muzyczna</a>
                          </li>
                  </ul>
        
                </div>
              </nav>

      <div class="alert alert-info">
          <b>Instrukcja działania</b><br/>
          <p>Wybierz plik .mp3 i go wyślij. Piosenka pojawi się poniżej jako odnośnik do kliknięcia. Piosenkę można pobrać.</p>
      </div>


      <form action ="{% url 'music' %}" method="POST" style="margin-bottom:10px" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group" style="width:25%; margin: 0 auto">

        <p>
          {{ form.field }}
        </p>


        <div class="text-center">
          <input class="btn btn-primary" type="submit" value="Wyślij plik"/>
        </div>
      </div>
      </form>

      <ul class="content">
      {% for song in songs %}
        <li class="alert alert-success"><b><a style="color:black" href="{% url 'download' song.id %}">{{ song.name }}</a></b>
        <br/>
        <p><a href="{% url 'delete' song.id %}">Usuń</a></p>
        </li>
      {% endfor %}
      </ul>
</body>

</html>